@charset "ISO-8859-1";


.help-block{
	color: red;
}
.container {
  height: 600px;
  background:#f4f4f2;
  width:650px;
  border:2px solid black;
  margin: 2em auto 4em auto;
}

.warning p {
	color: red;
    font-size: 1.4em;
    text-align: center;
    margin-top: 1em;
}
