@charset "ISO-8859-1";

.footer {
	margin-top: 2em;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.copyright ul {
	width: 100%;
}

.copyright li {
	width: 100%;
}

.copyright p {
	color: #28a745;
	position: relative;
	width: 100%;
	text-align: center;
	margin: auto;
}
